/* Vos customisations des classes de Bootstrap */
.color1 {
    color:#585A3A;
}
.color2 {
    color: #341E13; 
}
.color3 {
    color: #231341; 
}
.color4 {
    color: #572533; 
}
.color5 {
    color: #4C5629; 
}

/* Responsive Styling */

@media (max-width: 1199px) {

}

@media (max-width: 991px) {

}

@media (max-width: 767px) {

}
